<!DOCTYPE html>
<html lang="en">
<head>



<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://127.0.0.1/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  {% block title %}<title>FooGear</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/stylefinal.css' %}">
  <link rel="stylesheet"  href="{% static 'css/estilos.css' %}">
  
</head>



<body>

  
<div class="topnav">
  <a class="active" href="{% url 'index' %}">Index</a>
  {% if not user.is_authenticated %}
  <a style="color: white;">¡Eres un usuario invitado!</a>
  <a href="{% url 'register' %}">Regístrate</a>
  <a href="{% url 'login' %}">Login</a>
  {% else %}
  <a style="color: white;">¡Estás conectado como {{ user }}!</a>
  <a href="{% url 'logout' %}">Logout</a>
  <a href="{% url 'change-password' %}">Cambiar contraseña</a>
  {% endif %}
  <form class="form-inline my-2 my-md-0" method="POST" style="text-align: right;" action="{% url 'search_producto' %}">
    {% csrf_token %}
    <input class="form-control" type="search" placeholder="Buscar producto" aria-label="Search" name="searched">
    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
  </form>
</div>

<br></br>

<div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>FOOGEAR</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Secciones</p>
                <li>
                    <a href="/tiendas/">Tiendas</a>
                </li>
                 <li>
                    <a href="/stock/">Stocks</a>
                </li>
                 <li>
                    <a href="/productos/">Productos</a>
                </li>
                {% if user.is_authenticated %}
                 {% if user.is_staff %}
                 <li>
                    <a href="/compradores/">Compradores</a>
                </li>
                 {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                 <li>
                    <a href="/reservas/">Reservas</a>
                </li>
                {% endif %}
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://github.com/miguelgulu/FooGear" class="download">Repositorio Github</a>
                </li>
        </nav>



<div class="container-fluid" style="text-align: center;">
      {% block content %}



      {% endblock %}
</div>
 
<div class="aviso-cookies" id="aviso-cookies">
  <img class="galleta" src="../static/img/cookie.svg" alt="Galleta">
  <h3 class="titulo">Cookies</h3>
  <p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios.</p>
  <button class="boton" id="btn-aceptar-cookies">De acuerdo</button>
  <a class="enlace" href="aviso-cookies.html">Aviso de Cookies</a>
</div>
<div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>

<script src="../static/js/aviso-cookies.js"></script>


</body>
</html>
