{% extends "base.html" %}

{% block content %}

    <h2>Compradores</h2>
    <br></br>
  <table border="1" align="center">
  <tr>
    <th>Username</th>
    {% if user.is_staff %}
    <th>Dirección</th>
    <th>Teléfono</th>
    <th>DNI</th>
    {% endif %}
  </tr>
  {% for comprador in object_list %}
  <tr>
    <td>{{ comprador.user.username }}</td>
    {% if user.is_staff %}
    <td>{{comprador.direccion}}</td>
    <td>{{comprador.telefono}}</td>
    <td>{{comprador.dni}}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table> 



{% endblock %}