{% extends "base.html" %}

{% block content %}
    <h2>Compradores</h2>
    <ul>
        {% for comprador in object_list %}
            <ul>Username: {{ comprador.user.username }} {% if user.is_staff %} &nbsp;&nbsp;&nbsp;Email: {{comprador.user.email}} &nbsp;&nbsp;&nbsp;Fecha de creación: {{comprador.user.date_joined}} &nbsp;&nbsp;&nbsp;Dirección: {{comprador.direccion}} &nbsp;&nbsp;&nbsp;Teléfono: {{comprador.telefono}} &nbsp;&nbsp;&nbsp; DNI: {{ comprador.dni}} {% endif %}</ul>
        {% endfor %}
    </ul>

    <ul><a href="{% url 'index' %}">Volver a index</a></ul>
{% endblock %}