{% extends "base.html" %}

{% block content %}



{% if not user.is_authenticated %}
<h2>¡Bienvenido a FooGear! Si quieres acceder a más contenido inicia sesión</h2>
{% else %}
<h2>¡Bienvenido a FooGear {{ user }}!</h2>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <ul{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</ul>
    {% endfor %}
</ul>
{% endif %}

<br></br>

<h3>Mira nuestro catálogo de productos</h3>
<br></br>
{% for producto in producto_gen %}
    <a>{{ producto }}</a> 
    <a href="{% url 'product-detail' producto.pk %}">
    <td><img src="/media/{{ producto.imagen }}"  width="300" height="300"></td>
    </a>
    &nbsp;
{% endfor %}

{% endblock %}