{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
{% if not user.is_authenticated %}
<h1>Bienvenido a FooGear. Aquí podrás visualizar los siguientes contenidos</h1>
{% else %}
<h1>Bienvenido a FooGear {{ user }}. Aquí podrás visualizar los siguientes contenidos</h1>
{% endif %}
</div>
      <ul>
       <a href="/tiendas/">Tiendas</a>
      </ul>
      <ul>
       <a href="/stock/">Stocks</a>
      </ul>
      <ul>
       <a href="/productos/">Productos</a>
      </ul>
      {% if user.is_staff %}
      <ul>
       <a href="/compradores/">Compradores</a>
      </ul>
      {% endif %}
      {% if user.is_authenticated %}
      <ul>
       <a href="/reservas/">Reservas</a>
      </ul>
      {% endif %}
{% endblock %}