{% extends "base.html" %}

{% block content %}
<h1>Bienvenido a FooGear {{ user.username }}. Aquí podrás visualizar los siguientes contenidos:</h1>
      <li>
       <a href="/tiendas/">Tiendas</a>
      </li>
      <li>
       <a href="/stock/">Stocks</a>
      </li>
      <li>
       <a href="/productos/">Productos</a>
      </li>
      <li>
       <a href="/compradores/">Compradores</a>
      </li>
      {% if user.is_authenticated %}
      <li>
       <a href="/reservas/">Reservas</a>
      </li>
      {% endif %}
      <br></br>
      {% if not user.is_authenticated %}
      <li>
        No tienes cuenta? <a href="{% url 'comprador-add' %}">Hazte una aquí</a>
      </li>
      
      <br></br>
      <li>
      Inicia sesión <a href="{% url 'login' %}">aquí</a> para acceder a más contenido
      </li>
      <br></br>
      {% endif %}
      {% if user.is_authenticated %}
      <li>
      Haz click <a href="{% url 'logout' %}">aquí</a> para cerrar sesión
      </li>
      <br></br> 
      <li>
      Haz click <a href="{% url 'change-password' %}">aquí</a> para cambiar tu contraseña
      </li>
      {% endif %}
{% endblock %}