{% extends "base.html" %}

{% block content %}
    <h2>Productos</h2>
    <br></br>
    <table border="1" align="center">
  <tr>
    <th span="1" style="width: 30%;">Nombre</th>
  </tr>
  {% for producto in object_list %}
  <tr>
    <td><a href="{{ producto.id }}/">{{ producto.tipo }}</a></td>
  </tr>
  {% endfor %}
</table> 
<!--
    <ul>
        {% for producto in object_list %}
            <li> <a href="{{ producto.id }}/">{{ producto.tipo }}</a></li>
        {% endfor %}
    </ul>

    <ul><a href="{% url 'index' %}">Volver a index</a></ul>
-->
{% endblock %}