{% extends "base.html" %}

{% block content %}
    <h2>Detalles de {{ producto.tipo }}</h2>
<br></br>
<table border="1" align="center" width="500px">
  <tr>
    <th span="1" style="width: 30%;">Marca</th>
    <th span="1" style="width: 30%;">Precio</th>
    <th span="1" style="width: 40%;">Imagen</th>
  </tr>
  <tr>
    <td>{{ producto.marca }}</td>
    <td>{{ producto.precio }}€</td>
    <td><img src="/media/{{ producto.imagen }}" width="300" height="300"></td>
  </tr>
</table> 

{% endblock %}