{% extends "base.html" %}

{% block content %}
    <h2>Reservas Realizadas</h2>
    <ul>
        {% if user.is_staff %}
        {% for reserva in object_list %}
            <li>Usuario: {{ reserva.comprador.user }} &nbsp;&nbsp;&nbsp; Nombre: {{ reserva.comprador }} &nbsp;&nbsp;&nbsp;Tienda: {{reserva.tienda}}    &nbsp;&nbsp;&nbsp;Fecha: {{reserva.fecha}}    &nbsp;&nbsp;&nbsp;Producto: {{reserva.fecha}}  &nbsp;&nbsp;&nbsp;  Clave: <a href="{{ reserva.clave }}">{{reserva.clave}}  &nbsp;&nbsp; <a href="{% url 'reserva-update' reserva.pk %}">Editar</a>
               &nbsp; <a href="{% url 'reserva-delete' reserva.pk %}">Borrar</a></a></li>

        {% endfor %}
        {% else %}
        {% for reserva in object_list %}
            {% if user == reserva.comprador.user %}
                <li>Usuario: {{ reserva.comprador.user }} &nbsp;&nbsp;&nbsp; Nombre: {{ reserva.comprador }} &nbsp;&nbsp;&nbsp;Tienda: {{reserva.tienda}}    &nbsp;&nbsp;&nbsp;Fecha: {{reserva.fecha}}    &nbsp;&nbsp;&nbsp;Producto: {{reserva.fecha}}  &nbsp;&nbsp;&nbsp;  Clave: <a href="{{ reserva.clave }}">{{reserva.clave}}  &nbsp;&nbsp; <a href="{% url 'reserva-update' reserva.pk %}">Editar</a>
                &nbsp; <a href="{% url 'reserva-delete' reserva.pk %}">Borrar</a></a></li>
            {% endif %}
        {% endfor %}
        {% endif %}
        <br></br>
        <a href="{% url 'reserva-add' %}">Pulsa aquí para hacer una reserva</a>
    </ul>
    <ul><a href="{% url 'index' %}">Volver a index</a></ul>
{% endblock %}