{% extends "base.html" %}

{% block content %}
    <center>
    {% if searched %}
        <h1>Has buscado {{ searched }}</h1>
<br></br>
    <table border="1" align="center" style="text-align: center;">
  <tr>
    <th span="1" style="width: 100%;">Productos</th>
  </tr>
  {% for producto in productos %}
  <tr>
    <td><a href="{% url 'product-detail' producto.pk %}">{{ producto }}</a></td>
  </tr>
  {% endfor %}
</table> 
  {% else %}
    <h1>Se te ha olvidado especificar la búsqueda!</h1>
  {% endif %}

{% endblock %}
 