{% extends "base.html" %}

{% block content %}
    <h2>Stocks Disponibles</h2>

<br></br>
    <table border="1" align="center" width="900px">
  <tr>
    <th span="1" style="width: 50%;">Tienda</th>
    <th span="1" style="width: 20%;">Stock</th>
    <th span="1" style="width: 30%;">Producto</th>
  </tr>
{% for stock in object_list %}
  <tr>
    <td>{{ stock.tienda }}</td>
    <td>{{ stock.clave_stock }}</td>
    <td>{{ stock.producto }}</td>
  </tr>
  {% endfor %}
</table>    
<!--
    <ul>
        {% for stock in object_list %}
            <ul>{{ stock.tienda }}  &nbsp;&nbsp;&nbsp;Stock: {{stock.clave_stock}} Producto: {{ stock.producto }} </ul>
        {% endfor %}
    </ul>
    <ul><a href="{% url 'index' %}">Volver a index</a></ul>
-->
{% endblock %}